.ul-book {
    display: flex;
    background-image: url("../Image/background.jpg");
    background-size: cover;
    background-position-y: bottom;
    position: relative;
    min-width: 600px;
    min-height: 800px;
}
.slide-left{
    position: absolute;
    display: flex;
    top: 0;
    right: 100%;
    height: 800px;
    width: 300px;
    font-size: 100px;
    background-color: rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
    transition:opacity 0.5s;
    color: bisque;
    opacity: 0;
    z-index: 2;
}
.slide-right{
    position: absolute;
    display: flex;
    top: 0;
    left: 100%;
    height: 800px;
    width: 300px;
    font-size: 100px;
    background-color: rgba(0,0,0,0.1);
    align-items: center;
    justify-content: center;
    transition:opacity 0.5s;
    color: bisque;
    opacity: 0;
    z-index: 2;
}
.slide-left:hover,.slide-right:hover{
    opacity:0.7;
}
.page-to-left{
    animation: pageToLeft 0.5s;
    animation-fill-mode:both;
}
.page-to-right{
    animation: pageToRight 0.5s;
    animation-fill-mode: both;
}
.page-from-left{
    animation: pageFromLeft 0.5s;
    animation-fill-mode: both;
}
.page-from-right{
    animation: pageFromRight 0.5s;
    animation-fill-mode: both;
}
@keyframes pageToLeft{
    from{
        opacity:1;
        left:0;
    }
    to{
        opacity:0;
        left:-100%;
    }
}
@keyframes pageToRight{
    from{
        opacity:1;
        left:0;
    }
    to{
        opacity:0;
        left:100%;
    }
}
@keyframes pageFromLeft{
    from{
        opacity:0;
        left:-100%;
    }
    to{
        opacity:1;
        left:0;
    }
}
@keyframes pageFromRight{
    from{
        opacity:0;
        left:100%;
    }
    to{
        opacity:1;
        left:0;
    }
}
.list-page>form{
    display: flex;
    flex-direction: column;
}
.list-page {
    display:flex;
    flex-direction: column;
    min-width: 600px;
    min-height: 800px;
    position:absolute;
    opacity: 0;
    left:300%;
}

.list-page input,
.list-page textarea {
    border: none;
    background: none;
}

.page-no {
    font-size: 30px;
    margin: 15px;
}
#list-page-0 h3{
    font-size: 30px;
    margin: 20px 50px;
}
#list-page-0 ul{
    list-style: none;
}
.page-title {
    text-align: center;
    font-size: 49px;
}

.page-author {
    text-align: end;
    margin: 20px 50px;
    font-size: 30px;
}

.page-content {
    padding: 30px;
    font-size: 30px;
    line-height: 1.8;
}

.page-source {
    margin: 50px 30px;
    font-size: 20px;
}
.controlbar{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.controlbar>button{
    color: black;
    height: 50px;
    width: 90px;
    font-size: 30px;
    padding-bottom: 5px;
    margin-left: 20px;
    border: 5px outset tan;
    background-color: tan;
    border-radius: 5px;
}